POSTGRES_DB=taskmanager
POSTGRES_USER=taskuser
POSTGRES_PASSWORD=taskpass
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=django-insecure-r^o$$r*(96xum&1uj@)yh7m!dup_!)4=*s6p34+nkz4u+4exz4=
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1