services:
  db:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"  
    volumes:
      - pgdata:/var/lib/postgresql/data
    # networks:
      # - alliance-net

  web:
    build: .
    # Use prestart.sh (which will run migrations and then start the server via uv)
    command: /app/prestart.sh
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    # networks:
      # - alliance-net
  tester:
    build: .
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    depends_on:
      - db
    command: /app/test_entry.sh
    # networks:
      # - alliance-net

volumes:
  pgdata:

# networks:
  # alliance-net:
    # driver: bridge
